.col {
  padding: 40px 50px 80px;
}

.col--3 {
  padding: 20px;
}

.markdown {
  --ifm-h2-vertical-rhythm-top: 2.6;
  --ifm-h3-vertical-rhythm-top: 1.8;
}

.markdown h1:first-child {
  font-size: 38px;
  margin-bottom: 3rem;
}

.markdown > h2 {
  margin: 4rem 0 1.8rem;
  border-top: 1px solid var(--ifm-toc-border-color-100);
  padding-top: 1.8rem;
  font-size: 24px;
  letter-spacing: -0.02em;
}

.markdown > h3 {
  --ifm-h3-font-size: 20px;
}

.markdown li::marker {
  color: var(--docs-color-text-100);
  font-weight: 500;
}

/* md 内部右侧导航 */
.table-of-contents__left-border {
  border-left: 0px;
}

.table-of-contents__link {
  font-weight: bolder;
  color: var(--ifm-menu-color);
  opacity: 0.8;
}

.table-of-contents__link--active {
  color: var(--ifm-color-primary);
}

.alert {
  font-size: 14px;
  border: 1px solid var(--ifm-alert-border-color);
  border-left-width: var(--ifm-alert-border-left-width);
  box-shadow: none;
}

.alert--secondary {
  color: rgba(0, 0, 0, 0.55);
}

.alert p {
  font-weight: 500;
}

html[data-theme='dark'] .alert--secondary {
  color: rgba(235, 235, 235, 0.6);
}
