/* 菜单链接 */
.menu__link {
  font-size: 14px;
  border-radius: 4px 0 0 4px;
  --ifm-menu-color-background-active: var(--docs-color-primary-tint);
}

.menu__list-item-collapsible:hover {
  background: none;
}

ul.menu__list > li > a.menu__link--active {
  border-right: 1px solid var(--ifm-color-primary);
}

nav.menu {
  scrollbar-gutter: auto;
  scrollbar-width: none;
}

nav.menu::-webkit-scrollbar {
  width: 0;
}

.menu__link--sublist-caret:after {
  content: '';
  margin-left: auto;
  min-width: 0.6rem;
  background: var(--ifm-menu-link-sublist-icon) 50% / 1.2rem 1.2rem;
  filter: var(--ifm-menu-link-sublist-icon-filter);
  height: 0.6rem;
  transform: rotate(180deg);
  width: 0.6rem;
  transition: transform var(--ifm-transition-fast) linear;
}

.menu__caret:before {
  content: '';
  background: var(--ifm-menu-link-sublist-icon) 50% / 1.2rem 1.2rem;
  filter: var(--ifm-menu-link-sublist-icon-filter);
  height: 0.6rem;
  transform: rotate(180deg);
  width: 0.6rem;
  transition: transform var(--ifm-transition-fast) linear;
}
