.modern-aside-container {
  position: sticky;
  display: none;
  top: 0;
  margin-top: calc(var(--modern-nav-height) * -1 - 32px);
  padding-top: calc(var(--modern-nav-height) + 32px);
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  width: 0;
}

.modern-aside-container::-webkit-scrollbar {
  display: none;
}

@media (max-width: 960px) {
  .modern-doc-layout {
    position: relative;
  }
  .modern-doc-container {
    padding: 36px 24px 72px 24px;
  }
}

@media (min-width: 960px) {
  .modern-doc-layout {
    width: 100%;
    margin-top: var(--modern-nav-height);
  }

  .modern-doc-container {
    margin-left: var(--modern-sidebar-width);
    width: calc(100% - var(--modern-sidebar-width));
    padding: 48px 48px 72px 48px;
  }

  .modern-doc {
    width: 100%;
  }

  .modern-aside-container {
    width: var(--modern-aside-width);
  }
}

@media (min-width: 1280px) {
  .modern-doc-layout {
    width: calc(1280px - 100vw + 100%);
    margin-left: calc((100vw - 1280px) / 2);
  }

  .modern-aside-container {
    display: block;
    width: var(--modern-aside-width);
  }

  .modern-doc-container {
    margin-left: var(--modern-sidebar-width);
    width: calc(100% - var(--modern-sidebar-width));
    padding: 48px 0 72px 0;
  }

  .modern-doc {
    padding-right: 32px;
  }
}

@media (min-width: 1440px) {
  .modern-doc-layout {
    width: calc(1440px - 100vw + 100%);
    margin-left: calc((100vw - 1440px) / 2);
  }

  .modern-doc-container {
    padding: 48px 0 72px 64px;
  }

  .modern-doc {
    padding-right: 64px;
  }
}
