@require './utilities';

// placeholder for test, dont't remove it.
b, strong {
  font-weight: bolder;
}

*, :before, :after {
  box-sizing: border-box;
}

.page.homepage .theme-default-content {
  max-width: 100%;
}

body {
  font-family: var(--vp-font-family-base);
}

pre.vue-container {
  border-left-width: 0.5rem;
  border-left-style: solid;
  border-color: #42b983;
  border-radius: 0px;

  & > code {
    font-size: 14px !important;

    & > p {
      margin: -5px 0 -20px 0;
    }
  }

  code {
    background-color: #42b983 !important;
    padding: 3px 5px;
    border-radius: 3px;
    color: #000;
  }

  em {
    color: #808080;
    font-weight: light;
  }
}

.api-group-ul {
  &.config-experimental {
    transform: scale(0.92);
    transform-origin: top left;

    .vp-link {
      font-size: 12px;
    }
  }

  &.config-performance .vp-link {
    font-size: 13px;
  }

  &.config-devtool .vp-link {
    font-size: 13px;
  }
}

.statusbar {
  a {
    color: aquamarine;
    text-decoration: underline;
  }
}

.vp-doc h2 {
  position: relative;

  // added a divider line
  &::after {
    content: ' ';
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    border-top: 1px solid rgba(60, 60, 60, .12);
  }

  &::before {
    height: 95px;
  }
}
