.a {
  text-align: center;
  line-height: 1.5;
  font-size: 1.5rem;
}

.a {
  text-align: center;
  line-height: 1.5;
  font-size: 1.5rem;
}

.b {
  text-align: center;
  line-height: 1.5;
  font-size: 1.5rem;
  background: #fafafa;
}
