.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 32px;
}

@media (max-width: 600px) {
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  display: block;
  cursor: pointer;
  age-break-inside: avoid;
  break-inside: avoid;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.15s ease-in;
  border: 1px solid var(--modern-c-divider-light);

  &:hover {
    border-color: var(--modern-c-brand);
  }
}

.preview {
  display: block;
  width: 100%;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  pointer-events: none;
}

.bottom {
  padding: 12px 18px 14px;
}

.name {
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  color: var(--modern-c-text-1);
}

.domain {
  font-size: 13px;
  line-height: 24px;
  color: var(--modern-c-text-2);
}
