html,
body {
  padding: 0;
  margin: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.description {
  text-align: center;
  line-height: 1.5;
  font-size: 16px;
}
