registry = 'https://registry.npmjs.org/'

link-workspace-packages=false
strict-peer-dependencies=false
public-hoist-pattern[]=vitest
public-hoist-pattern[]=@vitest/*
public-hoist-pattern[]=@testing-library/*
