.button {
  display: inline-block;
  border: 1px solid transparent;
  text-align: center;
  font-weight: 500;
  white-space: nowrap;
  transition: color 0.25s, border-color 0.25s, background-color 0.25s;
}

.button:active {
  transition: color 0.1s, border-color 0.1s, background-color 0.1s;
}

.button.medium {
  border-radius: 20px;
  padding: 0 20px;
  line-height: 38px;
  font-size: 14px;
}

.button.big {
  border-radius: 24px;
  padding: 0 24px;
  line-height: 46px;
  font-size: 16px;
}

.button.brand,
.button.brand:hover,
.button.brand:active {
  opacity: 1;
  border-color: var(--modern-c-brand-light);
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--modern-c-brand);
}

.button.brand:hover {
  background-color: var(--modern-c-brand-light);
}

.button.alt,
.button.alt:hover,
.button.alt:active {
  border-color: var(--modern-c-gray-light-3);
  color: var(--modern-c-text-1);
  background-color: var(--modern-c-gray-light-5);
}

:global(.dark) .button.alt {
  background-color: var(--modern-c-bg-mute);
  border-color: #484848;
  color: var(--modern-c-text-1);
}

.button.alt:hover {
  background-color: var(--modern-c-gray-light-4);
}

:global(.dark) .button.alt:hover {
  background-color: #484848;
}

@media (max-width: 768px) {
  .button.big {
    font-size: 14px;
    line-height: 40px;
  }
}
