.searchInput {
  width: 8.6rem;
  transition: width 0.3s;
}

.suggestionItem {
  border: 1px solid var(--modern-c-divider-light);
  border-top: 0;
}

.suggestionItem:hover,
.suggestionItem.focus {
  background: var(--modern-c-white-mute);
}

:global(.dark) .suggestionItem:hover,
.suggestionItem.focus {
  background: var(--modern-c-black-mute);
}

.suggestionItemFirst {
  border-top: 1px solid var(--modern-c-divider-light);
}

@media (max-width: 768px) {
  .searchCommand {
    display: none;
  }
  .searchInput {
    width: 0;
    padding: 0;
  }
  .searchInput.focus {
    width: 8.6rem;
    padding: 0 0.5rem;
  }
}
