.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  & > :global(*) {
    pointer-events: auto;
  }
}

.fab {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: max-content;
  height: max-content;
  display: flex;
  border: none;
  background-color: var(--gray-2);
  box-shadow: var(--shadow-5);
  border-radius: 999px;
  cursor: pointer;
  touch-action: none;
  user-select: none;
  padding: var(--space-1) var(--space-2);
  gap: var(--space-2);
  align-items: center;
}

.action-logo {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain;
  border: none;
}

.action {
  width: 1.25rem;
  height: 1.25rem;
  transition: color 200ms;
  color: var(--gray-9);
  &:hover {
    color: var(--gray-12);
  }
}

.heading {
  width: 3.25rem;
  height: 1rem;
  color: var(--gray-a10);
  margin: 0 var(--space-2);
}
