.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;

  & > :global(*) {
    pointer-events: auto;
  }
}

.fab {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: max-content;
  height: max-content;
  display: flex;
  border: none;
  background-color: var(--gray-2);
  box-shadow: var(--shadow-5);
  border-radius: 999px;
  cursor: pointer;
  touch-action: none;
  padding: 0 var(--space-1);
  transition: box-shadow 400ms;
  user-select: none;
  animation: slideInFromRight 400ms ease-out forwards;

  &:hover {
    box-shadow: var(--shadow-5), 0 0 20px var(--gray-a7);
  }

  img {
    pointer-events: none;
  }
}

.logo {
  width: 1.25rem;
  height: 1.25rem;
  object-fit: contain;
  background-size: contain;
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
