@import '@/styles/theme.scss';

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.navigator {
  border-right: solid 1px var(--gray-5);
  padding: var(--space-1) 0;
}

.tab-button {
  display: flex;
  width: var(--space-8);
  padding: var(--space-2) var(--space-3);
  gap: var(--space-1);
  color: var(--gray-8);
  align-items: center;
  &:global(.active) {
    color: var(--gray-11);
  }
}

.fading-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  background: linear-gradient(to bottom, var(--color-background), transparent);
}
