.endpoint-tag {
  font-size: var(--font-size-2);
  &[data-compose='head'] {
    padding-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &[data-compose='head'] {
    padding-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.shy-link {
  color: var(--gray-9);
  font-size: var(--font-size-1);
}

.endpoint-container {
  display: flex;
  transition: opacity 200ms;
  &[data-miss-matched='true'] {
    opacity: 0.5;
  }
}
