/**
  * Define Paragraph style
*/
.modern-doc p,
.modern-doc summary {
  margin: 16px 0;
}

.modern-doc p {
  z-index: 2;
  line-height: 28px;
}

.modern-doc blockquote {
  margin: 16px 0;
  border-left: 2px solid var(--modern-c-divider);
  padding-left: 16px;
  transition: border-color 0.5s;
}

.modern-doc blockquote > p {
  margin: 0;
  font-size: 16px;
  color: var(--modern-c-text-2);
  transition: color 0.5s;
}

.modern-doc a:not(.header-anchor) {
  font-weight: 500;
  color: var(--modern-c-text-dark);
  border-bottom: 1px dashed var(--modern-c-brand);
  text-decoration-style: dashed;
  transition: color 0.25s;
}

.modern-doc a:hover {
  color: var(--modern-c-brand-dark);
  border-style: solid;
}

.modern-doc strong {
  font-weight: 600;
}
