.container {
  max-width: 1440px;
  margin: auto;
}

.rightNav {
  display: none;
}

.navContainer :deep(*) {
  pointer-events: all;
}

.navContainer {
  background: var(--modern-c-bg);
}

.social-links-icon {
  width: 20px;
  height: 100%;
  display: flex;
  fill: currentColor;
  color: var(--modern-c-text-2);

  &:hover {
    color: var(--modern-c-text-1);
  }
}

.menu-item:before {
  margin-right: 12px;
  margin-left: 12px;
  width: 1px;
  height: 24px;
  background-color: var(--modern-c-divider-light);
  content: ' ';
}

@media (max-width: 768px) {
  .menu-item:before {
    display: none;
  }
  .mobileNavMenu {
    display: flex;
  }
}

@media (min-width: 768px) {
  .rightNav {
    display: flex;
    align-items: center;
  }
  .mobileNavMenu {
    display: none;
  }
}

@media (min-width: 960px) {
  :global(.dark .modern-doc-nav) {
    background: rgba(36, 36, 36);
  }
}
