.navContainer {
  max-width: 1440px;
  margin: auto;
  background: rgba(255, 255, 255);
}

.rightNav {
  display: none;
}

.navContainer :deep(*) {
  pointer-events: all;
}

.social-links-icon {
  width: 20px;
  height: 100%;
  display: flex;
  fill: currentColor;
  color: var(--modern-c-text-2);

  &:hover {
    color: var(--modern-c-text-1);
  }
}

.menu-item:before {
  margin-right: 12px;
  margin-left: 12px;
  width: 1px;
  height: 24px;
  background-color: var(--modern-c-divider-light);
  content: ' ';
}

@media (min-width: 768px) {
  .rightNav {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 960px) {
  :global(.dark) .navContainer {
    background: rgba(36, 36, 36);
  }
}
