.quickStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 181px;
}
.title {
  font-weight: normal;
  font-size: 24px;
  font-weight: bold;
  line-height: 25px;
  background: -webkit-linear-gradient(
    305deg,
    hsl(166deg, 77%, 53%) 10%,
    hsl(198deg, 100%, 60%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.quickStartBtn {
  display: flex;
  margin-top: 19px;
  justify-content: center;
  align-items: center;
  width: 132px;
  height: 42px;
  color: rgba(0, 0, 0, 1);
  background: #4ecaff;
  border-radius: 39px;
  text-decoration: none;
}

.quickStartBtn:hover {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

@media screen and (max-width: 966px) {
  .quickStart {
    display: none;
  }
}
