@import 'https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.css';
@import url('https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.css');
@import url('lib1.css');
.import {
  color: darkcyan;
}

@import 'lib2.css';

@font-face {
  font-family: 'DIN Pro';
  src: url('https://lf3-static.bytednsdoc.com/obj/eden-cn/jpahaz_lm_kltvo/ljhwZthlaukjlkulzlp/fonts/DINPro/DIN_Pro_Bold.ttf');
}
