.input {
  position: fixed;
  top: 0;
  left: var(--navigator-width);
  right: 0;
  padding-top: 2.5rem;
  background-image: linear-gradient(to bottom, var(--gray-2), 95%, transparent);
}

.list {
  max-width: 40rem;
}
