.card {
  h1 {
    color: red;
  }

  & h2 {
    color: red;
  }

  h3 & {
    color: red;
  }

  :is(h1) {
    color: blue;
  }

  .foo {
    font-size: 12px;
  }

  & .bar {
    font-size: 14px;
  }

  &.baz {
    font-size: 16px;
  }
}

.demo {
  &:hover {
    color: green;
  }

  :hover {
    color: cyan;
  }
}

.demo {
  .lg {
    .triangle,
    .circle {
      opacity: 0.25;
    }
  }
}
