.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 32px;
}

@media (max-width: 1100px) {
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  display: block;
  cursor: pointer;
  age-break-inside: avoid;
  break-inside: avoid;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.15s ease-in;
  border: 1px solid var(--rp-c-divider-light);

  &:hover {
    border-color: var(--rp-c-brand);
  }
}

.preview {
  display: block;
  width: 100%;
  aspect-ratio: 1.84;
  object-fit: contain;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  pointer-events: none;
  background-color: var(--rp-c-bg-soft);
}

.bottom {
  padding: 12px 18px 14px;
}

.name {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  color: var(--rp-c-text-1);
}

.type {
  display: block;
  color: #fff;
  font-size: 12px;
  background: -webkit-linear-gradient(
    305deg,
    hsl(166deg, 77%, 43%) 10%,
    hsl(198deg, 100%, 50%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

:global(.dark) .type {
  background: -webkit-linear-gradient(
    305deg,
    hsl(166deg, 77%, 53%) 10%,
    hsl(198deg, 100%, 60%)
  );
  background-clip: text;
  -webkit-background-clip: text;
}

.domain {
  font-size: 13px;
  line-height: 24px;
  color: var(--rp-c-text-2);
}
