.social-links-icon {
  width: 20px;
  height: 100%;
  display: flex;
  fill: currentColor;
  color: var(--modern-c-text-2);

  &:hover {
    color: var(--modern-c-text-1);
  }
}

.menu-item:before {
  margin-right: 12px;
  margin-left: 12px;
  width: 1px;
  height: 24px;
  background-color: var(--modern-c-divider-light);
  content: ' ';
}
