.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: var(--modern-z-index-sidebar);
  padding: 0 12px 96px 16px;
  width: calc(100vw - 64px);
  max-width: 320px;
  background-color: var(--modern-c-bg);
  opacity: 0;
  box-shadow: var(--modern-c-shadow-3);
  overflow-x: hidden;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: opacity 0.5s, transform 0.25s ease;
}

:global(.dark) .sidebar {
  box-shadow: var(--modern-shadow-1);
}
.sidebar.open {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  transition: opacity 0.25s, transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

@media (min-width: 960px) {
  .sidebar {
    z-index: 1;
    margin-top: var(--modern-nav-height);
    padding-bottom: 128px;
    width: var(--modern-sidebar-width);
    opacity: 1;
    visibility: visible;
    box-shadow: none;
    transform: translateX(0);
  }
}

@media (min-width: 1440px) {
  .sidebar {
    padding-left: 16px;
    width: var(--modern-sidebar-width);
  }
}

.menuLink {
  opacity: 1;
}

.menuLink:hover {
  color: inherit;
  transition: all 0.2s;
}

.menuItem:hover,
.collapseContainer:hover {
  background-color: rgba(229, 229, 229, 0.5);
  transition: all 0.2s;
}

.menuItem {
  color: var(--modern-c-text-2);
  transition: all 0.2s;
}

.menuItemActive {
  background-color: var(--modern-c-brand-tint);
  color: var(--modern-c-brand);
}
