.code-wrapper {
  padding: 16px 0;
}

.code-operations {
  display: flex;
  .ac-btn-expanded {
    background-color: #1d2129 !important;
    color: #f7f8fa !important;
    border-color: #f7f8fa !important;
  }
}

.code-operations.web {
  justify-content: center;
  position: absolute;
  top: calc(50% - 14px);
  right: 16px;
}

.code-operations.mobile {
  justify-content: flex-end;
  margin-top: 8px;
}

.preview-code {
  position: relative;
  overflow: hidden;
}

.preview-device {
  flex: 0 1;
  padding: 24px 0 0 16px;
}
