.quickStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 181px;
  background-position: center center;
  background-size: cover;
  background-image: url(https://lf3-static.bytednsdoc.com/obj/eden-cn/aphqeh7uhohpquloj/modern-js/quick-start-card-bg.png);
}
.title {
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;

  color: #ffffff;
}
.quickStartBtn {
  display: flex;
  margin-top: 19px;
  justify-content: center;
  align-items: center;
  width: 132px;
  height: 42px;
  color: rgba(0, 0, 0, 1);
  background: #4ecaff;
  border-radius: 39px;
  text-decoration: none;
}

.quickStartBtn:hover {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

@media screen and (max-width: 966px) {
  .quickStart {
    display: none;
  }
}
