.fixed-device {
  display: none;
  position: fixed;
  top: calc(var(--modern-nav-height) + var(--modern-preview-padding));
  overflow: hidden;
}

.fixed-iframe {
  height: var(--modern-device-height);
  max-height: calc(100vh - var(--modern-preview-padding) * 2 - var(--modern-nav-height));
  width: 360px;
  pointer-events: auto;
  border-radius: var(--modern-device-border-radius) var(--modern-device-border-radius) 0 0;
  border: var(--modern-device-border);
}

.fixed-operation {
  border: var(--modern-device-border);
  border-top: 0;
  border-radius: 0 0 var(--modern-device-border-radius) var(--modern-device-border-radius);
}

:root {
  --modern-device-width: 360px;
  --modern-device-height: 640px;
  --modern-device-border-radius: 20px;
  --modern-device-border: 1px solid #e5e6e8;
}


@media (min-width: 960px){
  .fixed-device {
    display: inline;
    left: calc(1280px - var(--modern-device-width) - var(--modern-preview-padding));
    right: auto;
  }
}

@media (min-width: 1280px){
  .fixed-device {
    display: inline;
    right: var(--modern-preview-padding);
    left: auto;
  }
}

