.modernNavAppearance{
  margin-right: 0.5rem;
}

.sun {
  opacity: 1;
}

.moon {
  opacity: 0;
}

:global(.dark) .sun {
  opacity: 0;
}

:global(.dark) .moon {
  opacity: 1;
}

@media (max-width: 768px) {
  .modernNavAppearance {
    margin-right: 0;
  }
}
