.card {
  display: flex;
  flex-direction: column;
  padding: 32px 32px 36px;
  font-weight: 500;
  font-size: 20px;
  box-sizing: border-box;
  border-radius: 24px;
  background: linear-gradient(
    150.85deg,
    rgba(124, 178, 250, 0.14) 3%,
    rgba(124, 178, 250, 0.08) 97.17%
  );
  width: calc(50% - 16px);
  cursor: pointer;
  margin-bottom: 32px;
  flex: 0 0 auto;
  transition: all 0.3s ease;
  text-decoration: none;

  &:nth-child(2n) {
    margin-left: 32px;
  }

  &:hover {
    background: linear-gradient(
      150.85deg,
      rgba(124, 178, 250, 0.2) 3%,
      rgba(124, 178, 250, 0.1) 97.17%
    );
  }
}

.title {
  display: inline-block;
  font-weight: 800;
  font-size: 24px;
  line-height: 1.4;
}

.desc {
  display: inline-block;
  margin-top: 16px;
  font-size: 14px;
  line-height: 1.4;
  opacity: 0.8;
}

.icon {
  width: 56px;
  margin-top: 10px;
  flex-shrink: 0;
  height: 56px;
  fill: #fff;
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;

    &:nth-child(2n) {
      margin-left: 0;
    }
  }
}
