@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  line-height: 1.7;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

html.dark {
  color-scheme: dark;
}

body {
  margin: 0;
  width: 100%;
  min-width: 320px;
  font-family: var(--modern-font-family-base);
  font-size: 16px;
  font-weight: 400;
  color: var(--modern-c-text-1);
  background-color: var(--modern-c-bg);
  direction: ltr;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:focus,
button:focus-visible {
  outline: none;
}

.visually-hidden {
  visibility: hidden;
}

.flex-center {
  @apply flex items-center justify-center;
}

.menu {
  @apply flex justify-around items-center text-sm font-bold;
}

#nprogress .bar {
  background: var(--modern-c-brand);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

/* https://github.com/francoischalifour/medium-zoom#debugging */
.medium-zoom-overlay,
.medium-zoom-image--opened {
  z-index: 999;
}

/**
 * Custom shiki code block theme
 * reference: https://github.com/shikijs/shiki/blob/main/docs/themes.md
 * -------------------------------------------------------------------------- */

:root {
  --shiki-color-text: #414141;
  --shiki-color-background: transparent;
  --shiki-token-constant: #1976d2;
  --shiki-token-string: #31a94d;
  --shiki-token-comment: rgb(182, 180, 180);
  --shiki-token-keyword: #cf2727;
  --shiki-token-parameter: #f59403;
  --shiki-token-function: #7041c8;
  --shiki-token-string-expression: #218438;
  --shiki-token-punctuation: #242323;
  --shiki-token-link: #22863a;
}

.dark {
  --shiki-color-text: #cac7c7;
  --shiki-token-constant: #6fb0fa;
  --shiki-token-string: #f9a86e;
  --shiki-token-comment: #6a727b;
  --shiki-token-keyword: #f47481;
  --shiki-token-parameter: #ff9800;
  --shiki-token-function: #ae8eeb;
  --shiki-token-string-expression: #4fb74d;
  --shiki-token-punctuation: #bbbbbb;
  --shiki-token-link: #f9a76d;
}

/**
  * Custom font family
*/
:root {
  --modern-font-family-base: 'Inter var experimental', 'Inter var',
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --modern-font-family-mono: Menlo, Monaco, Consolas, 'Courier New', monospace;
}
