@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  line-height: 1.4;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

html.dark {
  color-scheme: dark;
}

body {
  margin: 0;
  width: 100%;
  min-width: 320px;
  font-family: var(--modern-font-family-base);
  font-size: 16px;
  font-weight: 400;
  color: var(--modern-c-text-1);
  background-color: var(--modern-c-bg);
  direction: ltr;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:focus,
button:focus-visible {
  outline: none;
}

.visually-hidden {
  visibility: hidden;
}

.flex-center {
  @apply flex items-center justify-center;
}

.menu {
  @apply flex justify-around items-center text-sm font-bold;
}

#nprogress .bar {
  background: var(--modern-c-brand);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

/* https://github.com/francoischalifour/medium-zoom#debugging */
.medium-zoom-overlay,
.medium-zoom-image--opened {
  z-index: 999;
}
