name: Integration Test(macOS)

concurrency:
  group: macos-integration-test-${{ github.head_ref }}
  cancel-in-progress: true

# Controls when the action will run.
on:
  # Triggers the workflow on pull request events but only for the main branch
  push:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  integration-test-mac:
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node-version: [14.x, 16.x]
        os: [macos-latest] # macos-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 25

      - name: Install Pnpm
        run: npm install -g pnpm@^6

      - name: Check docs only change
        run: echo ::set-output name=DOCS_CHANGE::$(node ./scripts/skip-docs-change.js echo 'not-docs-only-change')
        id: docs-change

      - run: echo ${{steps.docs-change.outputs.DOCS_CHANGE}}

      - name: Setup Node.js ${{ matrix.node-version }}
        if: ${{steps.docs-change.outputs.DOCS_CHANGE != 'docs only change'}}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: wireit cache
        uses: google/wireit@setup-github-actions-caching/v1

      - name: Install Dependencies
        if: ${{steps.docs-change.outputs.DOCS_CHANGE != 'docs only change'}}
        run: pnpm install --ignore-scripts --frozen-lockfile

      - name: Prepare
        if: ${{steps.docs-change.outputs.DOCS_CHANGE != 'docs only change'}}
        run: pnpm run prepare --filter ./packages

      - name: Install Puppeteer
        if: ${{steps.docs-change.outputs.DOCS_CHANGE != 'docs only change'}}
        run: cd ./tests/node_modules/puppeteer && npm run install && cd ../..

      - name: Test
        if: ${{steps.docs-change.outputs.DOCS_CHANGE != 'docs only change'}}
        run: cd ./tests && pnpm run test
