name: E2E Test (Builder)

on:
  pull_request:
    branches: [main]

  merge_group:

  workflow_dispatch:

jobs:
  e2e-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: Nx Cache
        id: nx-cache
        uses: actions/cache@v3
        with:
          path: .nx/cache
          key: nx-${{ github.ref_name }}-${{ github.sha }}
          restore-keys: |
            nx-${{ github.ref_name }}-
            nx-

      - name: Install Pnpm
        run: npm i -g --force corepack && corepack enable

      - name: Setup Node.js 22
        uses: actions/setup-node@v3
        with:
          node-version: '22'
          cache: 'pnpm'

      - name: Install Dependencies
        run: pnpm install

      - name: Install playwright
        run: cd ./tests/e2e/builder && pnpx playwright install chromium

      - name: Test
        run: pnpm run test:builder
