name: Module Tools Test (Linux)

on:
  push:
    branches: [v2]

  workflow_dispatch:

jobs:
  module-linux:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: Install Pnpm
        run: npm i -g --force corepack && corepack enable

      - name: Setup Node.js 18
        uses: actions/setup-node@v3
        with:
          node-version: "18"
          cache: 'pnpm'

      - name: Nx Cache
        id: nx-cache
        uses: actions/cache@v3
        with:
          path: .nx/cache
          key: nx-${{ github.ref_name }}-${{ github.sha }}
          restore-keys: |
            nx-${{ github.ref_name }}-
            nx-

      - name: Install Dependencies
        run: pnpm install --ignore-scripts --frozen-lockfile

      - name: Prepare
        run: pnpm run prepare

      - name: Install Puppeteer
        run: cd ./tests/node_modules/puppeteer && npm run postinstall && cd ../..

      - name: Test
        run: cd ./tests && pnpm run test:module-tools
