name: Type Check

on:
  pull_request:
    branches: [main]

  merge_group:

  workflow_dispatch:

jobs:
  type-check:
    runs-on: ${{ fromJSON(vars.SELF_LINUX_LABELS || '"ubuntu-latest"') }}

    steps:
      - name: Print runner context
        env:
          RUNNER_CONTEXT: ${{ toJson(runner) }}
        run: echo "$RUNNER_CONTEXT"
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: Install Pnpm
        run: corepack enable

      - name: Check skip CI
        run: echo "RESULT=$(node ./scripts/skipCI.js)" >> "$GITHUB_OUTPUT"
        id: skip-ci

      - name: Log skip CI result
        run: echo "${{steps.skip-ci.outputs.RESULT}}"

      - name: Setup Node.js 18
        uses: actions/setup-node@v3
        with:
          node-version: "18"
          cache: 'pnpm'

      - name: Nx Cache
        id: nx-cache
        if: ${{steps.skip-ci.outputs.RESULT != 'true'}}
        uses: actions/cache@v3
        with:
          path: .nx-cache
          key: nx-${{ github.base_ref }}-${{ github.ref_name }}-${{ github.sha }}
          restore-keys: |
            nx-${{ github.base_ref }}-${{ github.ref_name }}-
            nx-${{ github.base_ref }}-
            nx-

      - name: Install Dependencies
        if: ${{steps.skip-ci.outputs.RESULT != 'true'}}
        run: pnpm install --ignore-scripts --frozen-lockfile

      - name: Type Check
        if: ${{steps.skip-ci.outputs.RESULT != 'true'}}
        run: pnpm run prepare
